<form [formGroup]="form1" (ngSubmit)="onSubmit(form1)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form1.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>
  @if (emailIsInvalid) {
    <p class="error">Please enter a valid email address.</p>
  }
  @if (passwordIsInvalid) {
    <p class="error">Please enter a valid password (min. 6 characters) and contains a ?</p>
  }
</form>